.create {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px;
  margin: auto;

  .field {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid grey;

    &:focus {
      border-color: rgb(44, 44, 44);
    }

    &:hover {
      box-shadow: 1px 1px 10px rgb(158, 158, 158);
    }
  }
  button {
    background-color: black;
    border: none !important;
    color: white;
    &:active {
      box-shadow: 1px 1px 10px rgb(158, 158, 158);
    }
  }
}
