<div class="page">
  <div class="nav-bar" id="nav">
    <div class="title">
      <mat-icon (click)="plateState = !plateState">menu</mat-icon>
      <h1>OSC</h1>
    </div>
    <div class="items" [@plate]="!plateState ? 'open' : 'none'">
      <mat-icon (click)="plateState = !plateState">keyboard_backspace</mat-icon>
      <div class="item" *ngFor="let item of items" (click)="navigate(item)">
        {{ item }}
      </div>
    </div>
  </div>
  <div class="content">
    <img src="assets/complete_darkmode.png" alt="logo" />

    <div class="con">
      <div class="fancy-title">
        <h1>Divided By Domains<br />United By OSC</h1>
      </div>
      <div class="sub">
        For latest and greatest announcements join our Discord Server.
      </div>
      <div class="bt">
        <button (click)="go()" mat-flat-button>
          <img src="assets/discord.png" />
        </button>
      </div>
    </div>
  </div>
</div>
